/* Import Google fonts */
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");

/* Variables */
:root {
  --brightYellow: #e3b505;
  --darkBrown: #bb9457;
  --yellow: rgb(242, 180, 80);
  --brown: #382923;
  --black: #191919;
  --grey: #a9b2ac;
}

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("img/bodyBcg.jpeg");
  color: var(--black);
}

/* Global styles */
.belle-font {
  font-family: "La Belle Aurore", cursive;
}

/* Header */
