/* Import Google fonts */
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");

/* Variables */
:root {
  --brightYellow: #e3b505;
  --darkBrown: #bb9457;
  --yellow: rgb(242, 180, 80);
  --brown: #382923;
  --black: #191919;
  --grey: #a9b2ac;
}

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("img/bodyBcg.jpeg");
  color: var(--black);
}

/* Global styles */
.belle-font {
  font-family: "La Belle Aurore", cursive;
}

/* End: Global */

/* Header */
.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    background: url("img/headerBcg.jpeg") center/cover fixed no-repeat;
  }
}

/* Banner */
.banner {
  text-align: center;
  z-index: 3;
}

.banner__title {
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--brightYellow);
}

@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 9rem;
  }
}

.banner__social-icon {
  display: block;
  text-decoration: none;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 0.5s linear;
}
.banner__social-icon:hover {
  background: var(--brightYellow);
  color: var(--black);
}

.banner__icons {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-column-gap: 0.5rem;
  justify-content: center;
}
